.container {
   background-color: green;
    color: white;
    width: 850px;
    height: 1100px;
    
}
.Logo{
    background-color: red;
    width: 200px;
    height: 200px; 
    float: left; 
}
.Banniére{
    background-color: pink;
    width: 650px;
    height: 100px;
    float: right;


}