.container {
   background-color: green;
    color: white;
    width: 850px;
    height: 1100px;
    float: right;
}
.Logo{
    background-color: red;
    width: 200px;
    height: 200px;  
}
.Banniére
background-color:
    width: 200px;
    height: 200px; 