.img-fluid{
    min-width: 100%;
    
}
.image{
    width: 100%;
}
.top2{
    float: right;
    margin: auto 0;
}
#nom{
    min-width: 100%;
}
#prenom{
    min-width: 100%;

}

#date{
    min-width: 100%;
    
}